<%- include("header") -%>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">

    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <%- include("flash") -%>
                <br>
                <div class="bottomright">
                    <a href="/newbookentry" class="btn btn-primary"> <button class="abc">+</button> Add a new book</a>
                </div>
                </div>
                <%- include("footer") -%>