<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-book"></i>  VRead</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria- controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item">
                    <a class="nav-link" href="/home"><i class="fa fa-fw fa-home"></i></a>
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup" style="color: white; "><span><i class="fas fa-user-plus"></i></span> Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" style="color: white;"><span><i class="fas fa-user"></i></span> Login</a>
                        </li>
                        <%}
      		else{%>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=currentUser.username %>
                                </a>

                                <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/profile" style="color: white;"><i class="fas fa-user"></i> Profile</a>
                                    <a class="dropdown-item" href="/logout" style="color: white;"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                                </div>
                            </div>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link active dark-mode-toggle" id="dark-mode-toggle" href="#" style="margin-left: 10px;" ; ">Toogle mode</a>
                                </li>
                </ul>
            </form>
        </div>
    </div>
</nav>