.abc {
    min-height: 30px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border-color: transparent;
    background-color: #fff;
    color: blue;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

.bottomright {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    z-index: 10;
}

.img-thumbnail img {
    width: 100%;
    height: 280px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.img-thumbnail {
    padding: 10px;
    height: 500px;
    margin-top: 20px;
    background-color: skyblue;
}

.img-thumbnail .caption {
    padding: 9px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.bookthumbnails {
    display: flex;
    flex-wrap: wrap;
}

.bookname {
    color: black;
    width: 100%;
    word-wrap: break-word;
}

.authorname {
    color: black;
}

.form-group {
    color: black;
    float: left;
}

form {
    display: inline-flex;
}

.filterdiv {
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}

form button {
    position: relative;
    bottom: 0px;
    right: 0px;
    float: right;
    margin: 5px;
}