.photo {
    width: 400px;
    height: 400px;
}

.img-thumbnail {
    width: 410px;
    height: 460px;
    margin: 5px;
}

.userinfo {
    color: black;
}

.userinfo .caption {
    padding: 9px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.userprofilepic .caption {
    padding: 9px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}