.photo {
    width: 100%;
    object-fit: cover;
    height: 460px;
}

.img-thumbnail {
    width: 410px;
    height: 460px;
}

.userbookinfo {
    color: black;
    word-wrap: break-word;
}

.userbookinfo .caption {
    padding: 9px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.bookname {
    width: 100%;
    word-wrap: break-word;
}