.photo {
    width: 100%;
    height: 100%;
}

.img-thumbnail {
    width: 410px;
    height: 460px;
    margin: 5px;
}

.userbookinfo {
    color: black;
    word-wrap: break-word;
}

.userbookinfo .caption {
    padding: 9px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.bookname {
    width: 100%;
    word-wrap: break-word;
}